@import "nprogress/nprogress"

// Body

$body-width: 700px;
$my-margin: 10px;

@media (min-width: $body-width + 1px)
  body
    width: $body-width;
    margin: 0 auto;


input[type="url"], input[type="text"]
    width: 100%
    margin-top: $my-margin / 2


// Footer

footer
  margin-top: $my-margin
  border-top: 1px solid black
  display: flex

.footer-item:first-child
  margin-right: $my-margin
  padding-top: $my-margin
  flex: 2 0 0

.footer-item:nth-child(2)
  flex: 1 0 0


// Feed status

.feedReq-loading
  margin-top: $my-margin
  padding: $my-margin
  background: midnightblue
  color: white

.feedReq-error
  @extend .feedReq-loading
  background: red
  color: white


// Feed rendering

$flag_blue: #005bbb
$flag_yellow: #ffd500

.feedResUrl
  margin-top: $my-margin
  padding: $my-margin $my-margin 0
  border: 1px solid darkgray

  pre
    word-wrap: break-word

  a
    text-decoration: none

.feedTableMeta
  margin-top: $my-margin
  width: 100%
  border-collapse: collapse
  table-layout: fixed

  th
    height: 2em
    background-color: $flag_blue
    color: white

  tr:nth-child(even)
    background-color: whitesmoke

  th, td
    padding: 4px
    border: 1px solid whitesmoke
    word-wrap: break-word

.feedTableArticle
  @extend .feedTableMeta

  th
    height: 2em
    background-color: $flag_yellow
    color: black

  a
    text-decoration: none
