/* Body  */

@media (min-width: 701px) {
    body {
	width: 700px;
	margin: 0 auto;
    }
}

input[type="url"], input[type="text"] {
    width: 100%;
    margin-top: 5px;
}

/* Footer */

footer {
    border-top: 1px solid black;
    display: flex;
}

.footer-item:first-child {
    margin-right: 10px;
    padding-top: 10px;
    flex: 2 0 0;
}

.footer-item:nth-child(2) {
    flex: 1 0 0
}
