body {
  max-width: 700px;
  margin: 0 auto;
  color: #191919; }

img,
object,
video,
embed {
  max-width: 100%;
  width: auto;
  height: auto; }

code,
pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

input[type="url"], input[type="search"] {
  width: 100%;
  box-sizing: border-box; }

.hidden {
  display: none; }

.error {
  padding: 1em;
  color: white;
  background: #c82333; }

.rss_client_url {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.rss_client_url a {
  text-decoration: none;
}

table.meta,
table.article {
  margin-top: 1em;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; }
  table.meta th,
  table.article th {
    height: 2em; }
  table.meta > tr:nth-child(even),
  table.article > tr:nth-child(even) {
    background-color: whitesmoke; }
  table.meta th, table.meta td,
  table.article th,
  table.article td {
    padding: 4px;
    border: 1px solid whitesmoke;
    word-wrap: break-word; }
  table.meta th a,
  table.article th a {
    text-decoration: none; }

table.meta th {
  background-color: #005bbb;
  color: white; }

table.article th {
  background-color: #ffd500;
  color: #191919; }

table ul {
  margin: 0;
  padding-left: 1.2em; }

.nav_btn {
  display: inline-block;
  border: 1px solid #005bbb;
  padding-left: 5px;
  padding-right: 5px;
}

.article__title {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  header, form, .rss_client_url {
    margin-left: 5px;
    margin-right: 5px;
  }
}

footer {
  margin-top: 1em;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between; }
  footer img {
    filter: opacity(0.75); }
  footer div {
    margin-top: 1em; }
